.castdetail{
    text-align: justify;
    background-color: var(--main-color);
    
    background: rgba(0, 0, 0, 0.616);
   
    .name-cast{
        color: white;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 6rem;
        font-size: 4rem;
        font-weight: 900;
        padding: 0px 6%;
        text-align: center;
    }
    .IconCastReturn{
        margin-right: 5px;
        color: white;
        font-size: 50px ;
        padding: 10px 10px;
        font-weight: 900;
    }
    .infocastDT{
        display: flex;
        img{
            display : block;
            height: 400px;
            width: 300px;
            padding: 0 2%;
            padding-left: 150px;
           
            object-fit:cover;
            }
            
    }
    .contentcastDT{
        color: whitesmoke;       
        line-height: 1.6rem;
        padding-right: 40px;
        .itemcastDT{
            margin-bottom: .25em;
        }
       p{
           color: whitesmoke;
       }
    }
    .rootbackground{
        background: transparent;
    }
}


