.menu {
    background-color: var(--main-color);
    margin-left: 100px;
    .nav {
        margin-top: 100px;
        width: 80%;
        box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.4);
        height: 50px;
        border-radius: 10px;
        position: relative;
        .navbar{
            font-size: 15px;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            line-height: 50px;
            position: relative;
            z-index: 1;
            display: inline-block;
            text-align: center;
        }
        .post{
            width: 150px;
            border-radius: 10px;
        }
        .save{
            width: 150px;
        }
        .hidden{
            width: 150px;
        }
        .animation{
            position: absolute;
            height: 5px;
            bottom: 0;
            z-index: 0;
            background: red;
            width: 150px;
            border-radius: 8px;
            transition: all .5s ease 0s;
        }
        .start-post, .post:hover~.animation{
            width: 150px;
            left: 0;
        }
        .save:hover~.animation{
            width: 150px;
            left: 150px;
        }
        .hidden:hover~.animation{
            width: 150px;
            left: 300px;
        }
        
    }
}