.news{
    background-color: var(--main-color);
    overflow: hidden;
    
    .bodynews{
        
        min-height: 528px;
        margin: 0 auto;
        padding-top: 4%;
        .leftNews{
        padding-left: 20px;
        float: left;
        position: relative;
        min-height: 1px;
        max-width: 80%;
        }
         
        .beforeheader::before{
            background-color: #FA320A;
            content: " ";
            min-width: 20px;
            height: 25px;
            left:3%;
            position: absolute;
            top: 11px;
             
        }
    
        .beforeheader::after{
            position: absolute;
            margin-left: 30px;
            width: 100%;
            background-color: #FA320A;
            content: " ";
            max-width: 60%;
            height: 25px;
            top: 11px;
            
            
        }
      
            
        
        .rightNews{
            
            padding-right: 20px;
            float: left;
            position: relative;
            border: 2px solid;
            margin-top:5px;
            overflow: hidden;
            padding-left: 20px !important;
            font-size: 12px;
            font-family: sans-serif;

        }
        

        h2::before{
            position: absolute;
            background-color: #FA320A;
            content: " ";
            left:0;
            min-width: 20px;
            position: absolute;
            height: 25px;
            top: 5px;
            }
        }

    .headerNew{
        padding-left: 40px;
        text-transform: uppercase;
        color: white;
    }
    .headerNew2{
        
        text-transform: uppercase;
        color: white;
        font-weight: 300;
        font-size: medium;
        
    }
    .headerNewh2{
        padding-bottom: 50px;
    }
    .spanNew{

        color: rgb(230, 230, 240);
        font-weight: 300;
        font-size: medium;
        font-style: italic;
        padding-left: 40%;
   
        
    }
    .spanNew:hover{
        text-decoration:none ;
        color:red;
      }
      .spanNew1{

        color: rgb(230, 230, 240);
        font-weight: 300;
        font-size: medium;
        font-style: italic;
        padding-left: 1%;
        
    }
    .spanNew1:hover{
        text-decoration:none ;
        color:red;
      }

    .lineNew{
        padding-bottom: 50px;
    }
    .panel{
        
        float: left;
        padding: 15px;

    }
    
    .panel_right{
       
        clear: both;
        overflow: hidden;
        

    }
        
    .editional-panel-heading
    {
        box-sizing: border-box;
        font-size: 12px;
        font-family: sans-serif;
        margin-left: 10px;
        margin-top: 9px;
        overflow:hidden;
        padding-bottom: 3%;
    }
    .row{
        clear: both;
        margin-left: -10px;
        margin-right: -10px;
    }
    .row::after{
        content: " ";
        display: table;
        box-sizing: border-box;
        clear:both;

    }
    .row::before{
        content: " ";
        display: table;
        box-sizing: border-box;

    }

    .row-right{
    
    }

  
@media (min-width: 768px) {
    .body { 
        width: 1700px;
        margin: 0 auto;
      padding: 0;
    }
  }

@media (min-width: 768px) {
    .leftNews{ 
      width: 1100px;
    }
  }

@media (min-width: 768px) {
    .rightNews{ 
      width:300px;
    }
  }
  
  }
  
  





